#nds-spanish-subtitle {
    position: fixed;

    transform: translateX(-50%);

    max-width: 80%;

    text-align: center;

    color: #d8d8d8;

    font-size: 20px;
    line-height: 1.3;

    font-family: "Netflix Sans", Helvetica, Arial, sans-serif;

    text-shadow:
        0 0 7px black,
        2px 2px 4px black;

    opacity: 0.95;

    z-index: 999999;

    pointer-events: none;
}